@{
    ViewBag.Title = "About";
}


<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            background-color: #FFECB3;
        }

        h2 {
            color: black;
        }

        h3 {
            color: black;
        }
    </style>
</head>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<div class="row">
    <h1>Entretenimiento</h1>
    <p class="lead">Integrantes:</p>
    <p class="lead">Francisco Jimenez</p>
    <p class="lead">Daniel Unupanta</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>